image:
  repository: fizzbuzz2/fluxcd-viewer
  tag: "1d3d127"
  pullPolicy: "IfNotPresent"
  pullSecrets: []
commonLabels:
  env: dev
domainName: "fluxcd-viewer.example.com"
autoscaling:
  enabled: false
replicas: 1
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 25%
    maxSurge: 25%
application:
  ports:
    - name: http
      containerPort: 8080
      protocol: TCP
  containerName: fluxcd-viewer
  command: []
  args: []
service:
  port: 80
  targetPort: 8080
  type: ClusterIP
  portName: http
secrets:
  dotenv: []
  # - name: app-dotenv
  #   path: values/prod/secrets/app.env
  files: []
  # - name: secret-file
  #   path: values/prod/secrets/file
configMaps:
  files: []
  dotenv: []
volumeMounts: []
volumes: []
ingress:
  ingressClassName: traefik
  annotations: {}
  hosts:
    - host: fluxcd-viewer.develop.oursain.net
      paths:
serviceAccount:
  annotations: {}
  name: fluxtcd-viewer
podAnnotations: {}
initContainers: []
resources:
  limits:
    cpu: 100m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 128Mi
envFrom: []
nodeSelector: {}
livenessProbe:
  httpGet:
    scheme: HTTP
    path: /health
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 30
  timeoutSeconds: 2
  successThreshold: 1
  failureThreshold: 3
readinessProbe:
  httpGet:
    scheme: HTTP
    path: /health
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 30
  timeoutSeconds: 2
  successThreshold: 1
  failureThreshold: 3
